*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

p, a, h1 {
    text-decoration: none;
    color: #333333;
}


/*шапка*/
.header {
    display: flex;
    margin: 30px 54px 20px 54px;
    align-items: center;
}

.menu {
    margin-left: 266px;
    margin-right: 158px;
}

.menu_ul {
    display: flex;
    list-style-type: none;
    width: 430px;
    justify-content: space-between;
}

.menu_ul a {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.menu_ul a:hover {
    color: #B88E2F;
}

.menu_item {
    display: flex;
    justify-content: space-between;
    width: 247px;
}

/*1 страница с диванами*/

.bb {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #F9F1E7;
    padding-left: 100px;
}

.bb-text {
    color: #9F9F9F;
    margin: 0;
    padding-right: 20px;
}

.bb-img {
    margin: 0;
    padding-right: 20px;
}

.bb-text-2 {
    margin: 0;
    padding-right: 20px;    
}

.asgaard_sofa {
    display: flex;
    margin-top: 32px;
}

.img_sofa {
    width: 553px;
    display: flex;
}

.mini-img {
    margin-bottom: 32px;
    margin-right: 30px;
}

.max_sofa {
    background-color: #F9F1E7;
    width: 481px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.page_1_info {
    margin-left: 82px;
}

.asgaard_h2 {
    font-weight: 400;
    font-size: 42px;
}

.price {
    color: #9F9F9F;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.starss__p {
    color: #9F9F9F;
    font-size: 13px;
}

.description_1 {
    font-size: 13px;
    font-weight: 500px;
    margin-top: 18px;
    margin-right: 282px;
}

.starss {
    display: flex;
    width: 290px;
    align-items: center;
    margin-left: 0;
    gap: 20px;
}

.stars_img {
    margin: 0;
}

.size_color {
    margin-top: 22px;
}

.p_size,
.p_color {
    color: #9F9F9F;
    font-size: 14px;
    margin-bottom: 10px;
}

.button_size {
    width: 30px;
    height: 30px;
    font-size: 13px;
    border: none;
    background-color:#F9F1E7;
    margin-right: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.button_size:hover {
    color: white;
    background-color: #B88E2F;
}

.b_color {
    margin-right: 16px;
    margin-bottom: 32px;
}

.buttons_choice {
    display: flex;
}

.button__1 {
    width: 123px;
    height: 64px;
    margin-right: 18px;
    border: 1px #9F9F9F solid;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 35px;
    padding-left: 15px;
}

.button__2,
.button__3 {
    width: 215px;
    height: 64px;
    margin-right: 10px;
    font-size: 20px;
    border: 1px #000000 solid;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.button__2:hover,
.button__3:hover {
    color: #FFFFFF;
    background-color: #B88E2F;
    border: none;
}

.line__2 {
    margin-top: 60px;
    margin-bottom: 40px;
}

.table {
    color: #9F9F9F;
    margin-left: 0;
}

.tabl-td-b {
    padding-left: 16px;
    padding-right: 12px;
}

.tabl-td {
    padding-top: 12px;
}

/*вторая страница*/

.line__3 {
    margin-bottom: 48px;
    margin-top: 66px;
}

.descript-head {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 52px;
}

.desc-h2 {
    font-size: 24px;
}

.desc-3,
.desc-2 {
    font-weight: normal;
    color: #9F9F9F;
}

.desc-pp {
    margin-top: 40px;
    width: 1026px;
    margin-left: 100px;
}

.desc-p {
    color: #9F9F9F;
    font-size: 16px;
    margin-bottom: 30px;
}

.desc-img {
    display: flex;
    align-items: center;
    width: 1240px;
    margin-top: 5px;
    margin-bottom: 66px;
    gap: 30px;
}

.related_h2 {
    text-align: center;
}

/*4 страница*/

.line__4 {
    margin-bottom: 130px;
}

.cards .container{
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 285px;
    height: 446px;
    background-color: #F4F5F7;
    margin-top: 40px;
}

.card_h2 {
    padding: 16px 0px 8px 16px;
    font-size: 24px;
    color: #3A3A3A;
}

.card_comment {
    font-size: 16px;
    color: #898989;
    padding: 0px 0px 8px 16px;
}

.price {
    display: flex;
    justify-content: space-between;
}

.price_two {
    padding-left: 10px;
}

.price_h3 {
    font-size: 20px;
    color: #3A3A3A;
    padding: 0px 0px 30px 6px;
}

.price_comment {
    font-size: 16px;
    color: #B0B0B0;
    text-decoration: line-through;
    margin-top: 2px;
}


.but_c {
    margin-top: 45px;
    margin-bottom: 92px;
    display: flex;
    justify-content: center;
}

.button_card {
    padding: 12px 74px;
    border: 1px #B88E2F solid;
    color: #B88E2F;
    background-color: #FFFFFF;
}

.button_card:hover {
    color: #FFFFFF;
    background-color: #B88E2F;
}

.line__5 {
    margin-bottom: 48px;
}

/*подвал*/
.footer .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.f_one img {
    margin-bottom: 50px;
}

.f_comment {
    font-size: 16px;
    font-weight: 400;
    color: #9F9F9F;
    width: 285px;
}

.f_ul {
    list-style-type: none;
}

.f_ul p {
    font-size: 16px;
    font-weight: 500;
    color: #9F9F9F;
    margin-bottom: 55px;
}

.f_ul a {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.f_ul a:hover {
    color: #B88E2F;
}

.f_li {
    padding-bottom: 46px;
}

.f_help p {
    font-size: 16px;
    font-weight: 500;
    color: #9F9F9F;
    margin-bottom: 55px;
}

.f_p {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    padding-bottom: 46px;
}

.f_form p {
    font-size: 16px;
    font-weight: 500;
    color: #9F9F9F;
    margin-bottom: 53px;
}

input {
    border: none;
    border-bottom: 1px solid #000000;
    width: 200px;
    height: 21px;
    padding-bottom: 3px;
}

input::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #9F9F9F;
}

.form_button {
    width: 75px;
    height: 21px;
    border: none;
    border-bottom: 1px solid #000000;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 3px;
    background-color: #FFFFFF;
}

.footer_two .container {
    width: 100%;
    border-top: 1px solid #D9D9D9;
    margin: 0 auto;
}

.footer_two p {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    padding-top: 35px;
}